body{
    padding: 100px;
    background-color: rgba(114, 114, 114, 40%);
    font-family: Arial, Helvetica, sans-serif;
    opacity: 100%;
}

.product-name>h1{
    font-weight: bolder;
    line-height: 0px;
    letter-spacing: 10px;
    font-size: 100px;
}

.line{
    border: 2px solid black;
    height: 0px;
    width: 100px;
}

.product-name>h2{
    margin: auto;
   color: white;
   font-size: 100px;
   position: relative;
   left: 100px;
}

.box1{
    background-color: rgba(114, 114, 114, 20%);
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
}

.box1-head{
    display: flex;
    justify-content: space-between;
    
}

.mya{
    background-color: white;
    padding: 20px;
    line-height: 0px;
    
}

.mya > h6{
    letter-spacing: 5px;
}

.icons{
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: large;
    
}

.box1-bottom{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 2px;
}

.bot1{
    display: flex;
    justify-content: space-between;
    flex-grow: 0.15;
}

.bot2{
    display: flex;
    justify-content: space-between;
    flex-grow: 0.15;
}

.image{
    background-image: url(img11.jpg);
    width: 50%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 20px;
    transition: all 0.3s;
    margin-bottom: 0px;
}

.image:hover{
    border-radius: 20%;
}

.content1{
    background-color: white;
    height: 66%;
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.img-content{
    text-align: left;
    margin: auto;
}

.button{
    width: 150px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
    color: black;
    transition: all 0.3s;
    border-radius: 20px;
}

.button:hover{
    background-color: black;
    font-size: 1.1rem;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
}

.img-content>h1{
    transition: all 0.3s;
}

.img-content>h1:hover{
    font-size: 2.5rem;
}

.content2{
    background-color: white;
    height: 66%;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-image: url(img22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:local;
    overflow: hidden;
    overflow-y: scroll;
}

.content2::-webkit-scrollbar{
    display: none;
}

.content2>pre{
    font-size: 40px;
    position: relative;
    right: 200px;
    top: 240px;

}

.content2>p{
    word-spacing: 15px;
    letter-spacing: 2px;
}

.box1-head>p{
    font-size: 25px;
    position: relative;
    top: 30px;
}

.content3{
    background-color: white;
    height: 66%;
    width: 70%;
    margin: auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.div1{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.div1>hr{
    position: relative;
    top: 10px;
}

.div1-img{
    width: 450px;
    height: 70%;
    background-image: url(img33.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -100px;
}

.div2-img{
    width: 100%;
    height: 300px;
    background-image: url(img44.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -47px;
}

.div3-img{
    width: 100%;
    height: 300px;
    background-image: url(img55.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: -140px;
}

.content4{
    height: 66%;
    width: 70%;
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.content4::-webkit-scrollbar{
    display: none;
}

.card{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 20px;
    margin-right: 10px;
    margin-left: 10px;
    transition: all 0.3s;
    line-height: 0px;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.card>img{
    height: inherit;
    width: 250px;
    box-shadow: 0px 0px 10px;
    transition: all 0.5s;
}

.card>img:hover{
    border-radius: 30px;  
}

.card>p{
    font-size: 20px;
    font-weight: 800;
} 

.card>.edit{
    height: 250px;
}

.card>i{
    position: relative;
    top: 10px;
}


.btn{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid rgba(114, 114, 114, 20%);
    transition: all 0.3s;
}

.btn:hover{
    background-color: black;
    color: white;
}

#forward{
    position: relative;
    left: 1130px;
    bottom: 170px;
}

#backward{
    position: relative;
    left: 135px;
    top: 185px; 
}

.foot-panel4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black; 
    background-color: rgba(114, 114, 114, 20%);
    height: 80px;
    font-size: 0.9rem;
    font-weight: 600;
    padding-top: 15px;
}

.foot2{
    display: flex;
    padding-top: 5px;
}

.foot1 a{
    text-decoration: none;
    color: black; 
}

.popup{
    background-color: white;
    height: 510px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    bottom: 100px;
    transition: all 0.5s;
    border-radius: 10px;
    backdrop-filter: blur(10px);   
}
.popup2{
    background-color: white;
    height: 510px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 10;
    bottom: 100px;
    transition: all 0.5s;
    border-radius: 10px;
    backdrop-filter: blur(10px); 
    visibility: hidden;   
}

.popup>.image{
    background-size: cover;
    height: 92%;
    background-position-y: -90px;
}